:root {
  --branding-color: #51C4D3;
  --secondary-color: #D8E3E7;
  --font-color: #132C33;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}


body {
  font-family: var(--default-font-family);
}

.bg {
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #0000;
}

h1,
h2,
h3,
h3,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--font-color);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}



.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero-section {
  background-image: url("https://images.unsplash.com/photo-1514228742587-6b1558fcca3d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  text-align: center;
  padding: 47px 0;
}

.hero-section p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero-section h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}

.img-fluid{
    max-width: 100%;
    height: auto;
} 

.certificates img {
  width: auto; 
  height:auto; 
}

.skill-section i {
    color:var(--branding-color);
     margin: 10px 49px 20px;
}

.skill-tag-api {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.skill-tag {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    
}

.fa-laptop-code:before {
    margin-right: 30px;
}

.fa-node:before {
    content: "\f419";
    margin-left: 52px;
}

.skill-tag-api {
    margin-right: 30px;
}

.node {
    margin-left: 60px;
}

.node-about { 
  margin-left:30px;
}

.certificates{
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.project-container
{
 padding: 60px 20px;
}

.project-container h2 {
margin:100px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-size: 25px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0;
}

.content p {
  font-size: 14px;
}

.content {
  text-align: center;
  padding: 0;
}

.content i {
  font-size:29px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.project-description {
  padding: 67px 60px;
}

.hero-section {
  padding: 80px 20px;
}

.about-section {
  text-align: center;
  padding: 0;
}

.shecodes {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
.project-description {
  padding: 0;
  text-align: center;
}

.card {
    padding: 31px;
    margin-bottom: 30%;
    display: block;
    text-align: center;
    height: auto;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
